.info {
    background: grey;
    position: relative;
    text-align: center;
}

@media (min-width: 601px) and (max-width: 900px) {
    .info {
        background: #0095ff;
        font-size: 16px;

    }
}
